.App {
  text-align: center;
}
.brand-logo {
  width: 75px;
  height: auto;
}
.vertical-align {
  display: flex;
  align-items: center;
}

.titulo {
  color: black;
  font-size: 18px;
}
.texto-gris {
  color: gray;
  font-size: 12px;
}
